.clear

#bottom_white_module
  #approved_by
    #approve_head
      =t '.approved_by'
    #accredited_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    #charity_logo
      %a{ :href => "#" }
        %img{ :src => "/images/charity_logo.gif", :alt => "charity_logo" }
  #featured_by
    #featured_head
      =t '.featured_by'
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
  #partners
    #partner_head
      =t '.partners'
    #partner_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }

#footer
  %ul
    %li
      %a{ :href => "#" }
        =t '.site_map'
    %li= link_to t('.contact'), page_path("about_us")
    %li= link_to 'FAQ',     page_path("about_us")
    %li
      %a{ :href => "#" }
        =t '.my_account'
    %li
      %a{ :href => "http://blog.reliefhub.org/" }
        Blog
    %li
      %a{ :href => "#" }
        =t('.community')
    %li
      %a{ :href => "#" }
        =t('.projects')
    %li= link_to t('.about_us'), page_path("about_us")
    %li= link_to t('.home'), home_path
  .clear
  %p
    &copy; Copyright #{Date.today.strftime("%Y")} ReliefHub.
    =t '.all_rights_reserved'
