.clear

#bottom_white_module
  #processed_by
    =link_to image_tag('/images/footer_amazonpayments.png'), 'http://www.amazon.com' 
  #partners
    =link_to image_tag('/images/footer_gazelle.png'), 'http://www.gazelle.com'
  #partnersff
    =link_to image_tag('/images/footer_futurefridays.png'), 'http://www.futurefridays.com'
#footer
  %ul
    %li
      %a{ :href => "#" }
        =t '.site_map'
    %li= link_to t('.contact'), page_path("about_us")
    %li= link_to 'FAQ',     page_path("about_us")
    %li
      %a{ :href => "#" }
        =t '.my_account'
    %li
      %a{ :href => "http://blog.reliefhub.org/" }
        Blog
    %li
      %a{ :href => "#" }
        =t('.community')
    %li
      %a{ :href => "#" }
        =t('.projects')
    %li= link_to t('.about_us'), page_path("about_us")
    %li= link_to t('.home'), home_path
  .clear
  %p
    &copy; Copyright #{Date.today.strftime("%Y")} ReliefHub.
    =t '.all_rights_reserved'
