#relief_logo
  = link_to home_path do
    %img{ :src => "/images/relief_logo.png", :alt => "relief_logo" }
#social_logos
  %a{ :href => "http://twitter.com/reliefhub" }
    %img{ :src => "/images/twitter_logo.gif", :alt => "twitter_logo" }
  %a{ :href => "http://www.facebook.com/reliefhub.org" }
    %img{ :src => "/images/facebook_logo.gif", :alt => "facebook_logo" }
#navigation
  %ul
    - if user_signed_in?
      %li= link_to t('.logout'), destroy_user_session_url
      %li= link_to 'Admin', admin_organizations_path
    - else
      %li= link_to t('.login'), user_session_url
    %li= link_to 'Blog', 'http://blog.reliefhub.org/'
    %li= link_to t('.community'), page_path("community")
    %li= link_to t('.projects'), projects_path
    %li= link_to t('.about_us'), page_path("about_us")
    -# %li= link_to_rpx "Janrain", user_session_url
.clear
#lang
  =link_to_language image_tag('/images/francais.png'), :fr
  =link_to_language image_tag('/images/english.jpg'), :en
.clear