#relief_logo
  = link_to home_path do
    %img{ :src => "/images/relief_logo.gif", :alt => "relief_logo" }
#social_logos
  %a{ :href => "#" }
    %img{ :src => "/images/twitter_logo.gif", :alt => "twitter_logo" }
  %a{ :href => "#" }
    %img{ :src => "/images/facebook_logo.gif", :alt => "facebook_logo" }
#navigation
  %ul
    %li= link_to 'About Us', page_path("about_us")
    %li= link_to 'Projects', projects_path
    %li= link_to 'Community', page_path("community")
    %li
      %a{ :href => "#" }
        Blog
    - if user_signed_in?
      %li= link_to "Sign out", sign_out_path, :method => :delete
    - else
      %li= link_to "Sign in", user_session_url
      %li= link_to_rpx "Janrain", user_session_url
    %li= link_to 'Home', home_path
.clear
