%tr
  %td= project.created_at
  %td= link_to project.name, edit_admin_organization_project_path(project.organization, project)
  %td= project.status
  %td= project.funds_purpose
  %td= project.goal
  %td= project.amount_raised
