%h1
  New Project Form
%p
  = semantic_form_for [:admin, @project], :url => admin_organization_projects_path(@organization) do |f|
    = f.inputs do
      = f.input :name
      = render :partial=>'admin/edit_photo', :collection=>@project.project_photos, :locals=>{:field_name=>'project[project_photos_attributes][][file]'}

    = f.submit 'Create Project'

