%h1= @project.name
%p
  Orphanage
  = link_to @project.organization.name, admin_organization_path(@project.organization)
%p
  %br
  Status:
  = @project.status
%p
  %br
  Overview:
  = @project.overview
%p
  %br
  Funds Purpose:
  = @project.funds_purpose
%p
  %br
  Funding Needed:
  = @project.goal
%p
  %br
  Pictures:
  %br
  - @project.project_photos.each do |project_photo|
    = image_tag project_photo.file.url(:thumb)
  %br
  %br
  %br
= link_to image_tag('edit.gif'), edit_admin_organization_project_path(@project.organization, @project), :id => "Edit"