%h1= @project.name
%p
  Orphanage
  = link_to @project.organization.name, admin_organization_path(@project.organization)
%p
  Status
  = @project.status
%p
  Overview
  = @project.overview
%p
  Funds Purpose
  = @project.funds_purpose
%p
  Funding Needed
  = @project.goal
%p
  Pictures
  - @project.project_photos.each do |project_photo|
    = image_tag project_photo.file.url(:thumb)

= link_to image_tag('edit.gif'), edit_admin_organization_project_path(@project.organization, @project), :id => "Edit"
