%h2 Recent Press
.press_logo
.press_copy
  %h3= news_article_title('Haiti Quake: Ruin And Recovery',"http://www.npr.org/templates/story/story.php?storyId=122522434")
  %p= news_article_snippet("Haiti's brittle housing supply was shattered by the Jan. 12 earthquake, which destroyed an estimated 110,000 homes and apartment buildings. Now there are not enough houses, and not enough money for people to rent the ones still standing.")
.clear
.unicef
.press_copy
  %h3= news_article_title("'Beyond School Books' - a podcast series on education in emergencies",'http://www.unicef.org/infobycountry/haiti_56588.html')
  %p= news_article_snippet("NEW YORK, USA, 20 October 2010 – As schools open for the new academic year in Haiti, the hope is to bring all boys and girls to school – both those who attended before the earthquake struck in January and those hardest to reach, who will go to school for the first time.")
.clear
.usnews
.press_copy
  %h3= news_article_title('System Would Help Haiti Build, Modify Earthquake-Prone Structures','http://www.usnews.com/science/articles/2010/10/21/system-would-help-haiti-build-modify-earthquake-prone-structures.html')
  %p= news_article_snippet("WEST LAFAYETTE, Ind.—Civil engineers studying the effects of Haiti's devastating earthquake have concluded that a relatively simple system could be used by officials to quickly decide how to modify existing buildings and construct new ones that would better withstand future quakes.")
.clear
.coldis
.press_copy
  %h3= news_article_title('Savory Relief for Hait',"http://www.dispatch.com/live/content/local_news/stories/2010/11/28/savory-relief-for-haiti.html")
  %p= news_article_snippet("Three Haitian children stared with wide eyes at Colton McClure and members of his Franklin County Saddles-N-Such 4-H club during an August meeting. Colton doesn't remember if they said a word.")
.clear
.cnn
.press_copy
  %h3= news_article_title('Most countries fail to deliver on Haiti aid pledges',"http://www.cnn.com/2010/WORLD/americas/07/14/haiti.donations/index.html")
  %p= news_article_snippet("Donors promised $5.3 billion at an aid conference in March, about two months after the earthquake -- but less than 2 percent of that money has been handed over so far to the United Nations-backed body set up to handle it.")
.clear