#body_wrap
  #about_left
    #our_mission
      %h1=t '.our_mission'
      %p=t '.our_mission_text'
    #about_us
      %h1=t '.about_us'
      %p=t '.about_us_text1'
      %p=t '.about_us_text2'
      .vol_photo
      .vol_photo
      .vol_photo
      .vol_photo
      .vol_photo
      .vol_photo
  #about_right
    #why_relief
      =render :partial => "why"
.clear
#bottom_info
  #contact_us
    %h2 Contact Us
    .vcard
      .adr
        %span.street-address 11 Bigelow Street
        %span.locality Cambridge,
        %abbr.region{ :title => "Massachusetts" } MA
        %span.postal-code 02139
        .country-name USA
      %div
        %span.email= mail_to('info@reliefhub.org')
    = semantic_form_for :email, :url => emails_path do |form|
      = form.error_messages
      = form.inputs do
        = form.input :from, :label => "Email" unless user_signed_in?
        = form.input :body, :as => :text, :required => true
      = form.buttons do
        = form.commit_button "Contact us"
  #faq
    %h2 FAQ
    %dl
      %dt How do I donate to ReliefHub?
      %dd Visit our “Projects” page to see current projects; simply type the amount you would like to contribute into the box and hit the “Fund this Project” button.  Once you hit “Submit”, you can easily create an account or log in with an existing Facebook, Twitter, or Google account to track your project’s progress, collect important receipts for tax deductions and thank you notes from orphanage managers and the children themselves.
      %dt How does a project get chosen?
      %dd Projects are submitted by an Orphanage Manager, they are reviewed for approval by a Field Administrator ensuring a need for the materials that are requested exists.  Once approved, projects are then posted to the ReliefHub’s “Projects” page for donor support.
      %dt How do I find a project that fits my budget?
      %dd Each project fits your budget, you as the donor decide how much to contribute!
      %dt What happens to my money if a project doesn’t reach 100% funding?
      %dd If the project you have chosen to donate to does not reach completion you can pick another project for your funds to be redirected to.
      %dt Are my contributions tax deductible?
      %dd Yes, of course! We will also supply you with tax deduction receipts for your convenience.
  #recent_press
    %h2 Recent Press
    .press_logo
    .press_copy
      %h3= news_article_title('Haiti Quake: Ruin And Recovery',"http://www.npr.org/templates/story/story.php?storyId=122522434")
      %p= news_article_snippet("Haiti's brittle housing supply was shattered by the Jan. 12 earthquake, which destroyed an estimated 110,000 homes and apartment buildings. Now there are not enough houses, and not enough money for people to rent the ones still standing.")
    .clear
    .press_logo
    .press_copy
      %h3= news_article_title("'Beyond School Books' - a podcast series on education in emergencies", 'http://www.unicef.org/infobycountry/haiti_56588.html')
      %p= news_article_snippet("NEW YORK, USA, 20 October 2010 – As schools open for the new academic year in Haiti, the hope is to bring all boys and girls to school – both those who attended before the earthquake struck in January and those hardest to reach, who will go to school for the first time.")
    .clear
    .press_logo
    .press_copy
      %h3= news_article_title('System Would Help Haiti Build, Modify Earthquake-Prone Structures','http://www.usnews.com/science/articles/2010/10/21/system-would-help-haiti-build-modify-earthquake-prone-structures.html')
      %p= news_article_snippet("WEST LAFAYETTE, Ind.—Civil engineers studying the effects of Haiti's devastating earthquake have concluded that a relatively simple system could be used by officials to quickly decide how to modify existing buildings and construct new ones that would better withstand future quakes.")
.clear
