#body_wrap
  #about_left
    #our_mission
      %h1=t '.our_mission'
      %p=t '.our_mission_text'
    #about_us
      %h1=t '.about_us'
      %p=t '.about_us_text1'
      %p=t '.about_us_text2'
      .vol_photo
      .vol_photo2
  #about_right
    #why_relief
      =render :partial => "why"
.clear
#bottom_info
  #contact_us
    %h2=t '.contact_us'
    .vcard
      .adr
        %span.street-address 11 Bigelow Street
        %span.locality Cambridge,
        %abbr.region{ :title => "Massachusetts" } MA
        %span.postal-code 02139
        .country-name USA
      %div
        %span.email= mail_to('info@reliefhub.org')
    = semantic_form_for :email, :url => emails_path do |form|
      = form.error_messages
      = form.inputs do
        = form.input :from unless user_signed_in?
        = form.input :body, :as => :text, :required => true
      = form.buttons do
        = form.commit_button
  #faq
    =render :partial => "faq"
  #recent_press
    =render :partial => "recent_press"
