%li.project
  .summary
    = image_tag project.photo_url(:small) unless project.photo.nil?
    = link_to 'Fund this Project', project_path(project), :class => 'button'
  %h3= project.name
  %h4= project.organization_name
  %h5= project.requestor
  %p= truncate project.description, :length => 150
  .raised== #{number_to_percentage(project.percent_raised, :precision => 0)} of #{number_to_currency(project.goal)} raised
  = amazon_simple_pay_form_tag do
    = text_field_tag 'amount'
    = hidden_field_tag 'referenceId', project.id
    = hidden_field_tag 'description', project.name
    = image_submit_tag('/images/contribute_btn.gif')
