#col_left
  - if @project.photo
    #project_photo= image_tag(@project.photo_url(:medium))
  #project_map
    = google_map_image("212x212", @project.organization_address)
#project_information
  %h1= @project.name
  %h3= @project.organization_name
  %h4= @project.organization_address
  %p= @project.description
  %p= @project.overview
  %p Funds Purpose: #{@project.funds_purpose}
  %p Funding Needed: #{number_to_currency(@project.goal, :precision => 0)}
  %p Funding Received: #{number_to_currency(@project.amount_raised, :precision => 0)}
  %div{:id => ['pb', @project.id]}
    #progressbar
  =render :partial => 'shared/progbar', :object => @project 
  .clear
  #percent_raised_number
    #{number_to_percentage(@project.percent_raised, :precision => 0)} Raised
#col_right
  #donor_info
    = amazon_simple_pay_form_tag do
      #amount_project_detail
        %label Amount
        = text_field_tag 'amount'
        = hidden_field_tag 'referenceId', @project.id
        = hidden_field_tag 'description', @project.name
      #submit_signup
        = image_submit_tag('/images/contributenow.png')
      .clear
      #pay_type
      .clear
  #more_projects
    %p View more projects
    #more_projects_photos
      #project_photo1
        %a{ :href => "#" }
          %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
      #project_photo2
        %a{ :href => "#" }
          %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
      #project_photo3
        %a{ :href => "#" }
          %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
    #social_logos_large
      .addthis_toolbox.addthis_default_style
        %p Tell your friends about this project
        %a.addthis_button_facebook_like{ "fb:like:layout" => "button_count" }
        %a.addthis_button_tweet
        %script{ :type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cfc4db62e7d6471" }
.clear
%br
=render :partial => 'comments', :object => @project 
