#col_left
  - if @project.photo
    #project_photo= image_tag(@project.photo_url(:small))
  =# #project_map
#project_information
  %h1= @project.name
  %h3= @project.organization_name
  %h4= @project.organization_address
  %p= @project.description
  %p Funds Purpose: #{@project.funds_purpose}
  %p Funding Needed: #{number_to_currency(@project.goal, :precision => 0)}
  %p Funding Received: #{number_to_currency(@project.amount_raised, :precision => 0)}
  #project_percent_raised
    I am the percent raised
  .clear
  #percent_raised_number
    #{number_to_percentage(@project.percent_raised)} Raised
#more_projects
  %p View more projects
  #more_projects_photos
    #project_photo1
      %a{ :href => "#" }
        %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
    #project_photo2
      %a{ :href => "#" }
        %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
    #project_photo3
      %a{ :href => "#" }
        %img{ :src => "/images/more_projects_img.jpg", :alt => "project photo" }
  #social_logos_large
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_facebook_like{ "fb:like:layout" => "button_count" }
      %a.addthis_button_tweet
      %script{ :type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cfc4db62e7d6471" }
  =#.testimonials Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  =#%span.testimonial_name John Smith
  =#%span.test_location New York, NY, USA
  =#.testimonials Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  =#%span.testimonial_name John Smith
  =#%span.test_location New York, NY, USA
.clear

#donor_info
  #form_left
    #donor_head Donor Information
    .row
      %label{ :class => "required" } First Name:
      .field_holder
        %input{ :name => "#", :type => "text", :id => "first_name" }
        %span{ :class => "error", :style => "display:none;" }
          Please enter your First Name
      .clear
    .row
      %label{ :class => "required" } Last Name:
      .field_holder
        %input{ :name => "#", :type => "text", :id => "last_name" }
        %span{ :class => "error", :style => "display:none;" }
          Please enter your Last Name
      .clear
    .row
      %label{ :class => "required" } Email:
      .field_holder
        %input{ :name => "#", :type => "text", :id => "email" }
        %span{ :class => "error", :style => "display:none;" }
          Please enter your Email
      .clear
    .row
      %label{ :class => "required" } Phone:
      .field_holder
        %input{ :name => "#", :type => "text", :id => "phone" }
        %span{ :class => "error", :style => "display:none;" }
          Please enter your Phone
      .clear
    .row
      %label{ :class => "required" } Address:
      .field_holder
        %input{ :name => "#", :type => "text", :id => "address" }
        %span{ :class => "error", :style => "display:none;" }
          Please enter your Address
      .clear
    .row
      %label Additional Comments:
      .field_holder
        %textarea{ :name => "#", :rows => "6", :cols => "20", :id => "comments" }
    .clear
  #form_right
    = amazon_simple_pay_form_tag do
      #amount_project_detail
        %label Amount
        = text_field_tag 'amount'
        = hidden_field_tag 'referenceId', @project.id
        = hidden_field_tag 'description', @project.name
      #pay_type
      #submit_signup
        = image_submit_tag('/images/contribute_btn.gif')
      .clear
.clear
