= semantic_form_for [:admin, @organization], :html => {:multipart => true} do |f|
  = f.inputs do
    = f.input :name
    = render :partial=>'admin/edit_photo', :collection=>@organization.organization_photos, :locals=>{:field_name=>'organization[organization_photos_attributes][][file]'}
    = f.input :street1
    = f.input :street2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :country, :as => :string
    = f.input :contact_person
    = f.input :phone_number
    = f.input :overview
  = f.submit "Save"
