= semantic_form_for [:admin, @organization] do |f|
  = f.inputs do
    = f.input :name
    = f.input :street1
    = f.input :street2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :country, :as=>:string
    = f.input :contact_person
    = f.input :phone_number
    = f.input :overview

  = f.submit

  
