.section
  .left 
    %h2= @organization.name
  .right= link_to image_tag('edit.gif'), edit_admin_organization_path(@organization), :id=>"Edit"
.clear
%br
  %h4 Pictures
  .pictures
    - @organization.organization_photos.each do |organization_photo|
      = image_tag organization_photo.file.url(:thumb) 
.details
  %table
    %tr
      %th 
        Address
      %th
        Contact
      %th
        Phone
      %th
        Email
      %th
        Website
    %tr
      %td
        = @organization.address
      %td
        = @organization.contact_person
      %td
        = @organization.phone_number
      %td
        = @organization.email_address
      %td
        = @organization.website
.overview
  %p= @organization.overview
%br  
.left 
  %h2 Projects in this Organization
%h2.right.create-button= link_to 'Create Project', new_admin_organization_project_path(@organization)

%table
  %tr.header
    %th Created
    %th Name
    %th Status
    %th Materials Needed
    %th Funds Needed
    %th Funds Received
  = render @organization.projects
