.section
  .left 
    %h2= @organization.name
  .right= link_to image_tag('edit.gif'), edit_admin_organization_path(@organization), :id=>"Edit"

.section
  .section
    Pictures
    - @organization.organization_photos.each do |organization_photo|
      = image_tag organization_photo.file.url(:thumb) 

  .section
    Address
    = @organization.address

  .section
    Contact Person
    = @organization.contact_person

  .section
    Phone Number
    = @organization.phone_number

.section
  Overview
  = @organization.overview

%h2 Projects in this Orphanage
= link_to 'Create', new_admin_organization_project_path(@organization)
%table
  %tr
    %th Created
    %th Name
    %th Status
    %th Materials Needed
    %th Funds Needed
    %th Funds Received
  = render @organization.projects
