- content_for :content do
  #menu
    %ul#right-menu.right
      %li{:class => "#{controller_name == 'organizations' ? 'selected' : ''}"}
        %h3= link_to 'Organizations', :controller => 'organizations' 
      %li{:class => "#{controller_name == 'projects' ? 'selected' : ''}"}
        %h3= link_to 'Projects', admin_projects_path
      %li{:class => "#{controller_name == 'users' ? 'selected' : ''}"}
        %h3= link_to 'Users', '#'
  #content.round.projects.content
    = yield
= render :file => 'layouts/application'
