!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title ReliefHub
    = stylesheet_link_tag :flutie, 'screen', :media => 'all'
    = csrf_meta_tag
    -# This include is to fix a strange issues where the progress bar wasn't rendering properly
    = javascript_include_tag 'jquery'
  %body.body_class
    #wrapper
      = render :partial => 'shared/header'
      = render :partial => 'shared/flashes'
      #main= content_for?(:content) ? yield(:content) : yield
      = render :partial => 'shared/javascript'
      = render :partial => 'shared/footer'
      = render :partial => 'shared/google_analytics'
